In [1]:
# Parameters

CampañasxPeriodo=18
UltimaCampañaRolling=202818
CampañaInicioRolling=202613
Carpeta=r'C:\Users\williamtorres\Desktop\Nueva carpeta (3)\Resultado CORP\101'

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
df_Meta = pd.read_csv(rf'{Carpeta}\df_Meta.csv')
df_Meta.head(20)

            2026          2027          2028
0   0.000000e+00  3.919212e+06  4.177228e+06
1   0.000000e+00  3.594667e+06  3.824033e+06
2   0.000000e+00  3.742918e+06  4.036238e+06
3   0.000000e+00  3.431483e+06  3.632707e+06
4   0.000000e+00  3.899857e+06  4.087743e+06
5   0.000000e+00  4.318330e+06  4.553931e+06
6   0.000000e+00  4.024545e+06  4.226410e+06
7   0.000000e+00  4.222361e+06  4.436617e+06
8   0.000000e+00  4.204897e+06  4.416826e+06
9   0.000000e+00  4.139629e+06  4.348266e+06
10  0.000000e+00  4.006058e+06  4.207986e+06
11  0.000000e+00  3.781987e+06  3.972660e+06
12  4.105616e+06  4.229852e+06  4.443021e+06
13  3.421883e+06  3.729061e+06  3.917076e+06
14  3.772319e+06  3.859712e+06  4.054289e+06
15  4.580764e+06  4.790350e+06  5.031670e+06
16  4.815997e+06  4.973126e+06  5.223626e+06
17  4.509153e+06  4.789665e+06  5.030951e+06

In [5]:
año_base = datetime.today().year
vector_Meta = (
    df_Meta[f"{año_base+1}"].tolist()
    + df_Meta[f"{año_base+2}"].tolist()
    + df_Meta[f"{año_base+3}"].tolist()
)
vector_Meta

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4105616.004234359,
 3421882.767608929,
 3772319.416928769,
 4580764.31298482,
 4815996.786461061,
 4509152.712429511,
 3919212.15961033,
 3594666.990018041,
 3742918.479354261,
 3431482.817200551,
 3899857.067785875,
 4318329.638539635,
 4024544.7959237695,
 4222360.523078823,
 4204896.85916919,
 4139629.370887233,
 4006057.905208011,
 3781986.590495982,
 4229852.0109775625,
 3729060.750362371,
 3859711.542623648,
 4790349.642459369,
 4973125.695428381,
 4789665.490789334,
 4177228.2201033896,
 3824032.7890344514,
 4036237.864320936,
 3632706.548560128,
 4087742.639047486,
 4553931.420761129,
 4226410.056867385,
 4436616.800928612,
 4416825.635909219,
 4348266.338575492,
 4207986.0485254135,
 3972660.420706123,
 4443020.544173192,
 3917076.3019923465,
 4054289.223483373,
 5031669.997983001,
 5223626.248476476,
 5030951.483783709]

In [6]:
df = pd.read_csv(rf'{Carpeta}\df_Linea.csv')

In [7]:
df.head()

,Tipo,SAP,Categoría,UU,Grupo art.,SM,CampaniaDescontinuacion,Crecimiento X,Crecimiento X+1,Crecimiento X+2,Crecimiento X+3,Descripción SAP,Período,Ce.,JERARQUIA,EDL,CDP,novoApp,campaña
0,Supply Original,200106346,a.Fragancias,851,101,AC,0.0,0.065541,0.052837,0.053188,0.050226,ES FIORI PARFUM CC 50ML,2026 C01,CO03,EAU DE PARFUM,-,B. Colombia,NaN,202601
1,Supply Original,200106346,a.Fragancias,156,101,AC,0.0,0.065541,0.052837,0.053188,0.050226,ES FIORI PARFUM CC 50ML,2026 C02,CO03,EAU DE PARFUM,-,B. Colombia,NaN,202602
2,Supply Original,200106346,a.Fragancias,2057,101,AC,0.0,0.065541,0.052837,0.053188,0.050226,ES FIORI PARFUM CC 50ML,2026 C03,CO03,EAU DE PARFUM,-,B. Colombia,NaN,202603
3,Supply Original,200106346,a.Fragancias,2057,101,AC,0.0,0.065541,0.052837,0.053188,0.050226,ES FIORI PARFUM CC 50ML,2026 C04,CO03,EAU DE PARFUM,-,B. Colombia,NaN,202604
4,Supply Original,200106346,a.Fragancias,2058,101,AC,0.0,0.065541,0.052837,0.053188,0.050226,ES FIORI PARFUM CC 50ML,2026 C05,CO03,EAU DE PARFUM,-,B. Colombia,NaN,202605

In [8]:
# Crear tabla dinámica
tabla_pivot = pd.pivot_table(
    df,
    index=["Ce.", "Grupo art.", "Crecimiento X+2", "Crecimiento X+3", "CampaniaDescontinuacion", "SAP"], # filas
    columns="campaña",   # columnas
    values="UU",  # la métrica que quieres sumar/promediar
    aggfunc="sum",       # puede ser sum, mean, count, etc.
    fill_value=0
)

In [9]:
tabla_pivot

campaña                                                                            202601  \
Ce.  Grupo art. Crecimiento X+2 Crecimiento X+3 CampaniaDescontinuacion SAP
BO03 101        0.053188        0.050226        0.0                     200039855    1673
                                                                        200060760     856
                                                                        200064310    1292
                                                                        200072913     879
                                                                        200082674    1063
...                                                                                   ...
SV13 101        0.053188        0.050226        202604.0                200116050     324
                                                                        200116051     293
                                                202606.0                200099310    1174
                                                202615.0                200113787       0
                                                                        200113789       0

campaña                                                                            202602  \
Ce.  Grupo art. Crecimiento X+2 Crecimiento X+3 CampaniaDescontinuacion SAP
BO03 101        0.053188        0.050226        0.0                     200039855    3489
                                                                        200060760     757
                                                                        200064310    1415
                                                                        200072913     708
                                                                        200082674    1188
...                                                                                   ...
SV13 101        0.053188        0.050226        202604.0                200116050       0
                                                                        200116051       0
                                                202606.0                200099310     416
                                                202615.0                200113787     292
                                                                        200113789       0

campaña                                                                            202603  \
Ce.  Grupo art. Crecimiento X+2 Crecimiento X+3 CampaniaDescontinuacion SAP
BO03 101        0.053188        0.050226        0.0                     200039855    3417
                                                                        200060760    1318
                                                                        200064310    1413
                                                                        200072913    1487
                                                                        200082674    1152
...                                                                                   ...
SV13 101        0.053188        0.050226        202604.0                200116050     200
                                                                        200116051     185
                                                202606.0                200099310     647
                                                202615.0                200113787    1139
                                                                        200113789     201

campaña                                                                            202604  \
Ce.  Grupo art. Crecimiento X+2 Crecimiento X+3 CampaniaDescontinuacion SAP
BO03 101        0.053188        0.050226        0.0                     200039855    3418
                                                                        200060760    1318
                                                                        200064310    1394
                                                                        200072913    1546
                                                                        200082674    1152
...                                                                                   ...
SV13 101        0.053188        0.050226        202604.0                200116050     234
                                                                        200116051     221
                                                202606.0                200099310     532
                                                202615.0                200113787    1139
                                                                        200113789     201

campaña                                                                            202605  \
Ce.  Grupo art. Crecimiento X+2 Crecimiento X+3 CampaniaDescontinuacion SAP
BO03 101        0.053188        0.050226        0.0                     200039855    3417
                                                                        200060760    1318
                                                                        200064310    1378
                                                                        200072913    1488
                                                                        200082674    1151
...                                                                                   ...
SV13 101        0.053188        0.050226        202604.0                200116050       0
                                                                        200116051       0
                                                202606.0                200099310     653
                                                202615.0                200113787    1139
                                                                        200113789     201

campaña                                                                            202606  \
Ce.  Grupo art. Crecimiento X+2 Crecimiento X+3 CampaniaDescontinuacion SAP
BO03 101        0.053188        0.050226        0.0                     200039855    2762
                                                                        200060760    1117
                                                                        200064310    1154
                                                                        200072913    1009
                                                                        200082674     949
...                                                                                   ...
SV13 101        0.053188        0.050226        202604.0                200116050       0
                                                                        200116051       0
                                                202606.0                200099310       0
                                                202615.0                200113787    1013
                                                                        200113789     179

campaña                                                                            202607  \
Ce.  Grupo art. Crecimiento X+2 Crecimiento X+3 CampaniaDescontinuacion SAP
BO03 101        0.053188        0.050226        0.0                     200039855    4215
                                                                        200060760    1797
                                                                        200064310    2025
                                                                        200072913    1615
                                                                        200082674    1501
...                                                                                   ...
SV13 101        0.053188        0.050226        202604.0                200116050       0
                                                                        200116051       0
                                                202606.0                200099310       0
                                                202615.0                200113787    1179
                                                                        200113789     208

campaña                                                                            202608  \
Ce.  Grupo art. Crecimiento X+2 Crecimiento X+3 CampaniaDescontinuacion SAP
BO03 101        0.053188        0.050226        0.0                     200039855    4215
                                                                        200060760    1705
                                                                        200064310    1703
                                                                        200072913    1540
                                                                        200082674    1448
...                                                                                   ...
SV13 101        0.053188        0.050226        202604.0                200116050       0
                                                                        200116051       0
                                                202606.0                200099310       0
                                                202615.0                200113787    1179
                                                                        200113789     208

campaña                                                                            202609  \
Ce.  Grupo art. Crecimiento X+2 Crecimiento X+3 CampaniaDescontinuacion SAP
BO03 101        0.053188        0.050226        0.0                     200039855    4238
                                                                        200060760    1715
                                                                        200064310    1763
                                                                        200072913    1618
                                                                        200082674    1448
...                                                                                   ...
SV13 101        0.053188        0.050226        202604.0                200116050       0
                                                                        200116051       0
                                                202606.0                200099310       0
                                                202615.0                200113787    1179
                                                                        200113789     208

campaña                                                                            202610  \
Ce.  Grupo art. Crecimiento X+2 Crecimiento X+3 CampaniaDescontinuacion SAP
BO03 101        0.053188        0.050226        0.0                     200039855    4215
                                                                        200060760    1705
                                                                        200064310    1668
                                                                        200072913    1540
                                                                        200082674    1448
...                                                                                   ...
SV13 101        0.053188        0.050226        202604.0                200116050       0
                                                                        200116051       0
                                                202606.0                200099310       0
                                                202615.0                200113787    1179
                                                                        200113789     208

campaña                                                                            202611
Ce.  Grupo art. Crecimiento X+2 Crecimiento X+3 CampaniaDescontinuacion SAP
BO03 101        0.053188        0.050226        0.0                     200039855    4531
                                                                        200060760    1772
                                                                        200064310    1849
                                                                        200072913    1713
                                                                        200082674    1448
...                                                                                   ...
SV13 101        0.053188        0.050226        202604.0                200116050       0
                                                                        200116051       0
                                                202606.0                200099310       0
                                                202615.0                200113787    1303
                                                                        200113789       0

[1578 rows x 11 columns]

In [10]:
def generar_campañas(inicio, fin):
    """
    Genera lista de campañas desde 'inicio' hasta 'fin'
    considerando que cada año solo llega hasta 18,
    luego pasa al siguiente año con 01.
    """
    campañas = []
    año = int(str(inicio)[:4])
    periodo = int(str(inicio)[-2:])
    año_fin = int(str(fin)[:4])
    periodo_fin = int(str(fin)[-2:])

    while (año < año_fin) or (año == año_fin and periodo <= periodo_fin):
        campañas.append(int(f"{año}{periodo:02d}"))
        periodo += 1
        if periodo > CampañasxPeriodo:   # al pasar de 18 reinicia
            periodo = 1
            año += 1
    return campañas

In [11]:
# Generar campañas desde la mínima hasta 202818
campaña_min = int(df["campaña"].min())
campañas_completas = generar_campañas(campaña_min, UltimaCampañaRolling)

# Reindexar columnas
tabla_pivot = tabla_pivot.reindex(columns=campañas_completas, fill_value=0)

# Tabla plana opcional
tabla_pivot = tabla_pivot.reset_index()

In [12]:
tabla_pivot.head()

campaña,Ce.,Grupo art.,Crecimiento X+2,Crecimiento X+3,CampaniaDescontinuacion,SAP,202601,202602,202603,202604,...,202809,202810,202811,202812,202813,202814,202815,202816,202817,202818
0,BO03,101,0.053188,0.050226,0.0,200039855,1673,3489,3417,3418,...,0,0,0,0,0,0,0,0,0,0
1,BO03,101,0.053188,0.050226,0.0,200060760,856,757,1318,1318,...,0,0,0,0,0,0,0,0,0,0
2,BO03,101,0.053188,0.050226,0.0,200064310,1292,1415,1413,1394,...,0,0,0,0,0,0,0,0,0,0
3,BO03,101,0.053188,0.050226,0.0,200072913,879,708,1487,1546,...,0,0,0,0,0,0,0,0,0,0
4,BO03,101,0.053188,0.050226,0.0,200082674,1063,1188,1152,1152,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# Buscar la última campaña con valor > 0 en cada fila
tabla_pivot["ÚltimoCampañaLinea"] = tabla_pivot.apply(
    lambda row: max([col for col in tabla_pivot.columns if isinstance(col, int) and row[col] > 0], default=None),
    axis=1
)

In [14]:
tabla_pivot

campaña,Ce.,Grupo art.,Crecimiento X+2,Crecimiento X+3,CampaniaDescontinuacion,SAP,202601,202602,202603,202604,...,202810,202811,202812,202813,202814,202815,202816,202817,202818,ÚltimoCampañaLinea
0,BO03,101,0.053188,0.050226,0.0,200039855,1673,3489,3417,3418,...,0,0,0,0,0,0,0,0,0,202611
1,BO03,101,0.053188,0.050226,0.0,200060760,856,757,1318,1318,...,0,0,0,0,0,0,0,0,0,202611
2,BO03,101,0.053188,0.050226,0.0,200064310,1292,1415,1413,1394,...,0,0,0,0,0,0,0,0,0,202611
3,BO03,101,0.053188,0.050226,0.0,200072913,879,708,1487,1546,...,0,0,0,0,0,0,0,0,0,202611
4,BO03,101,0.053188,0.050226,0.0,200082674,1063,1188,1152,1152,...,0,0,0,0,0,0,0,0,0,202611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,SV13,101,0.053188,0.050226,202604.0,200116050,324,0,200,234,...,0,0,0,0,0,0,0,0,0,202604
1574,SV13,101,0.053188,0.050226,202604.0,200116051,293,0,185,221,...,0,0,0,0,0,0,0,0,0,202604
1575,SV13,101,0.053188,0.050226,202606.0,200099310,1174,416,647,532,...,0,0,0,0,0,0,0,0,0,202605
1576,SV13,101,0.053188,0.050226,202615.0,200113787,0,292,1139,1139,...,0,0,0,0,0,0,0,0,0,202611
1577,SV13,101,0.053188,0.050226,202615.0,200113789,0,0,201,201,...,0,0,0,0,0,0,0,0,0,202610

In [15]:
def siguiente_campaña(camp):
    """Dada una campaña tipo 202615, devuelve la siguiente (202616 o 202701 si era 18)."""
    camp = int(camp)
    año = camp // 100
    num = camp % 100
    if num == 18:
        año += 1
        num = 1
    else:
        num += 1
    return int(f"{año}{num:02d}")


for idx_row, row in tabla_pivot.iterrows():
    ultima = row["ÚltimoCampañaLinea"]
    descontinuacion = row["CampaniaDescontinuacion"]

    if pd.isna(descontinuacion) or descontinuacion == 0:
        descontinuacion = UltimaCampañaRolling
    
    if pd.isna(ultima):
        continue
    
    # siguiente campaña al último estimado
    siguiente = siguiente_campaña(ultima)
    
    # inicio: mayor entre 202612 y esa siguiente
    inicio = min(CampañaInicioRolling, siguiente)

    # si no está en campañas_completas (por ejemplo 202619), saltamos al próximo válido
    while inicio not in campañas_completas and inicio < max(campañas_completas):
        inicio = siguiente_campaña(inicio)

    if inicio not in campañas_completas:
        continue  # nada que proyectar

    start_index = campañas_completas.index(inicio)

    # proyectar desde inicio hasta el final del horizonte
    for j in range(start_index, len(campañas_completas)):
        camp = campañas_completas[j]
        if camp > descontinuacion:  # 🚫 parar si pasa la campaña de descontinuación
            break
        prev_3 = campañas_completas[start_index-1:start_index]   # las 3 campañas anteriores en la lista
        tabla_pivot.at[idx_row, camp] = row[prev_3].mean()

In [16]:
tabla_pivot

campaña,Ce.,Grupo art.,Crecimiento X+2,Crecimiento X+3,CampaniaDescontinuacion,SAP,202601,202602,202603,202604,...,202810,202811,202812,202813,202814,202815,202816,202817,202818,ÚltimoCampañaLinea
0,BO03,101,0.053188,0.050226,0.0,200039855,1673,3489,3417,3418,...,4531,4531,4531,4531,4531,4531,4531,4531,4531,202611
1,BO03,101,0.053188,0.050226,0.0,200060760,856,757,1318,1318,...,1772,1772,1772,1772,1772,1772,1772,1772,1772,202611
2,BO03,101,0.053188,0.050226,0.0,200064310,1292,1415,1413,1394,...,1849,1849,1849,1849,1849,1849,1849,1849,1849,202611
3,BO03,101,0.053188,0.050226,0.0,200072913,879,708,1487,1546,...,1713,1713,1713,1713,1713,1713,1713,1713,1713,202611
4,BO03,101,0.053188,0.050226,0.0,200082674,1063,1188,1152,1152,...,1448,1448,1448,1448,1448,1448,1448,1448,1448,202611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,SV13,101,0.053188,0.050226,202604.0,200116050,324,0,200,234,...,0,0,0,0,0,0,0,0,0,202604
1574,SV13,101,0.053188,0.050226,202604.0,200116051,293,0,185,221,...,0,0,0,0,0,0,0,0,0,202604
1575,SV13,101,0.053188,0.050226,202606.0,200099310,1174,416,647,532,...,0,0,0,0,0,0,0,0,0,202605
1576,SV13,101,0.053188,0.050226,202615.0,200113787,0,292,1139,1139,...,0,0,0,0,0,0,0,0,0,202611
1577,SV13,101,0.053188,0.050226,202615.0,200113789,0,0,201,201,...,0,0,0,0,0,0,0,0,0,202610

In [17]:
# Aseguramos que los nombres de columnas sean string
tabla=tabla_pivot
tabla = tabla.rename(columns=str)

# Identificar columnas que son campañas (números de 6 dígitos) y mayores a 202610
cols_a_eliminar = [col for col in tabla.columns if col.isdigit() and int(col) <CampañaInicioRolling ]

# Eliminar esas columnas
tabla = tabla.drop(columns=cols_a_eliminar)

In [18]:
tabla

campaña,Ce.,Grupo art.,Crecimiento X+2,Crecimiento X+3,CampaniaDescontinuacion,SAP,202613,202614,202615,202616,...,202810,202811,202812,202813,202814,202815,202816,202817,202818,ÚltimoCampañaLinea
0,BO03,101,0.053188,0.050226,0.0,200039855,4531,4531,4531,4531,...,4531,4531,4531,4531,4531,4531,4531,4531,4531,202611
1,BO03,101,0.053188,0.050226,0.0,200060760,1772,1772,1772,1772,...,1772,1772,1772,1772,1772,1772,1772,1772,1772,202611
2,BO03,101,0.053188,0.050226,0.0,200064310,1849,1849,1849,1849,...,1849,1849,1849,1849,1849,1849,1849,1849,1849,202611
3,BO03,101,0.053188,0.050226,0.0,200072913,1713,1713,1713,1713,...,1713,1713,1713,1713,1713,1713,1713,1713,1713,202611
4,BO03,101,0.053188,0.050226,0.0,200082674,1448,1448,1448,1448,...,1448,1448,1448,1448,1448,1448,1448,1448,1448,202611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,SV13,101,0.053188,0.050226,202604.0,200116050,0,0,0,0,...,0,0,0,0,0,0,0,0,0,202604
1574,SV13,101,0.053188,0.050226,202604.0,200116051,0,0,0,0,...,0,0,0,0,0,0,0,0,0,202604
1575,SV13,101,0.053188,0.050226,202606.0,200099310,0,0,0,0,...,0,0,0,0,0,0,0,0,0,202605
1576,SV13,101,0.053188,0.050226,202615.0,200113787,1303,1303,1303,0,...,0,0,0,0,0,0,0,0,0,202611
1577,SV13,101,0.053188,0.050226,202615.0,200113789,208,208,208,0,...,0,0,0,0,0,0,0,0,0,202610

In [19]:
vector_sin_ceros = [x for x in vector_Meta if x != 0]

In [20]:
# Aseguramos que los nombres de columnas sean string
tabla.columns = tabla.columns.map(str)

# Filtrar las que son campañas (6 dígitos)
cols_campañas = [col for col in tabla.columns if col.isdigit() and len(col) == 6]

# Contar
n_campañas = len(cols_campañas)

print("Número de campañas:", n_campañas)

Número de campañas: 42

In [21]:
len(vector_sin_ceros)

42

In [22]:
# 3. Escalar cada columna al valor meta
for i, col in enumerate(cols_campañas):
    suma_actual = tabla[col].sum()
    meta = vector_sin_ceros[i]
    if suma_actual > 0:  # evitar división por cero
        factor = meta / suma_actual
        tabla[col] = tabla[col] * factor
    else:
        tabla[col] = 0  # si toda la columna es cero, dejarla en cero

In [23]:
# Calcular suma por columna
tabla[cols_campañas] = tabla[cols_campañas].round(0).astype(int)
suma_columnas = tabla[cols_campañas].sum()

In [24]:
# Comparar con las metas
verificacion = pd.DataFrame({
    "Campaña": cols_campañas,
    "Suma_calculada": suma_columnas.values,
    "Meta": vector_sin_ceros
})
print(verificacion)

   Campaña  Suma_calculada          Meta
0   202613         4105638  4.105616e+06
1   202614         3421889  3.421883e+06
2   202615         3772312  3.772319e+06
3   202616         4580770  4.580764e+06
4   202617         4816016  4.815997e+06
5   202618         4509140  4.509153e+06
6   202701         3919214  3.919212e+06
7   202702         3594678  3.594667e+06
8   202703         3742910  3.742918e+06
9   202704         3431479  3.431483e+06
10  202705         3899832  3.899857e+06
11  202706         4318347  4.318330e+06
12  202707         4024543  4.024545e+06
13  202708         4222369  4.222361e+06
14  202709         4204889  4.204897e+06
15  202710         4139619  4.139629e+06
16  202711         4006043  4.006058e+06
17  202712         3781987  3.781987e+06
18  202713         4229856  4.229852e+06
19  202714         3729073  3.729061e+06
20  202715         3859690  3.859712e+06
21  202716         4790346  4.790350e+06
22  202717         4973132  4.973126e+06
23  202718         4789662  4.789665e+06
24  202801         4177206  4.177228e+06
25  202802         3824054  3.824033e+06
26  202803         4036248  4.036238e+06
27  202804         3632718  3.632707e+06
28  202805         4087735  4.087743e+06
29  202806         4553929  4.553931e+06
30  202807         4226401  4.226410e+06
31  202808         4436607  4.436617e+06
32  202809         4416807  4.416826e+06
33  202810         4348269  4.348266e+06
34  202811         4207975  4.207986e+06
35  202812         3972667  3.972660e+06
36  202813         4443027  4.443021e+06
37  202814         3917077  3.917076e+06
38  202815         4054277  4.054289e+06
39  202816         5031666  5.031670e+06
40  202817         5223635  5.223626e+06
41  202818         5030958  5.030951e+06

In [25]:
tabla.to_excel(
    rf"{Carpeta}\ProyecionLínea.xlsx", 
    sheet_name="Proyeccion", 
    index=False
)

In [26]:
tabla= tabla.drop(columns=['Grupo art.','Crecimiento X+2',
            'Crecimiento X+3',      'CampaniaDescontinuacion', 'ÚltimoCampañaLinea'])
tabla.head()

campaña,Ce.,SAP,202613,202614,202615,202616,202617,202618,202701,202702,...,202809,202810,202811,202812,202813,202814,202815,202816,202817,202818
0,BO03,200039855,4493,3745,4128,5029,5287,4950,4302,3946,...,4849,4773,4619,4361,4877,4300,4451,5524,5734,5523
1,BO03,200060760,1757,1464,1614,1967,2068,1936,1683,1543,...,1896,1867,1807,1706,1907,1682,1741,2160,2243,2160
2,BO03,200064310,1833,1528,1685,2052,2157,2020,1756,1610,...,1979,1948,1885,1780,1990,1755,1816,2254,2340,2254
3,BO03,200072913,1699,1416,1561,1901,1999,1871,1627,1492,...,1833,1805,1746,1649,1844,1626,1683,2088,2168,2088
4,BO03,200082674,1436,1197,1319,1607,1690,1582,1375,1261,...,1549,1525,1476,1394,1559,1374,1422,1765,1833,1765

In [27]:
tabla.columns

Index(['Ce.', 'SAP', '202613', '202614', '202615', '202616', '202617',
       '202618', '202701', '202702', '202703', '202704', '202705', '202706',
       '202707', '202708', '202709', '202710', '202711', '202712', '202713',
       '202714', '202715', '202716', '202717', '202718', '202801', '202802',
       '202803', '202804', '202805', '202806', '202807', '202808', '202809',
       '202810', '202811', '202812', '202813', '202814', '202815', '202816',
       '202817', '202818'],
      dtype='object', name='campaña')

In [28]:
tabla = tabla.melt(
    id_vars=["Ce.", 'SAP'],  
    var_name="campaña",
    value_name="Estimado"
)

In [29]:
tabla.head()

    Ce.        SAP campaña  Estimado
0  BO03  200039855  202613      4493
1  BO03  200060760  202613      1757
2  BO03  200064310  202613      1833
3  BO03  200072913  202613      1699
4  BO03  200082674  202613      1436

In [30]:
tabla_larga=tabla
tabla_larga=tabla_larga[tabla_larga["Estimado"]>0]
tabla_larga["TO"] = "'000"
tabla_larga["Estimado"] = tabla_larga["Estimado"].astype(int)
tabla_larga["SAP"] = tabla_larga["SAP"].astype(int)
tabla_larga.columns=["Ce.",'Cod', 'Campaña', 'Estimado', "TO" ]
tabla_larga.head()

C:\Users\williamtorres\AppData\Local\Temp\ipykernel_37680\618254320.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_larga["TO"] = "'000"
C:\Users\williamtorres\AppData\Local\Temp\ipykernel_37680\618254320.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_larga["Estimado"] = tabla_larga["Estimado"].astype(int)
C:\Users\williamtorres\AppData\Local\Temp\ipykernel_37680\618254320.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_larga["SAP"] = tabla_larga["SAP"].astype(int)

    Ce.        Cod Campaña  Estimado    TO
0  BO03  200039855  202613      4493  '000
1  BO03  200060760  202613      1757  '000
2  BO03  200064310  202613      1833  '000
3  BO03  200072913  202613      1699  '000
4  BO03  200082674  202613      1436  '000

In [31]:
tabla_larga=tabla_larga[["Ce.", 'Campaña', 'Cod', "TO", 'Estimado']]

In [32]:
tabla_larga.to_excel(
    rf"{Carpeta}\CargaLínea.xlsx", 
    sheet_name="Proyeccion", 
    index=False
)

In [33]:
tabla_proyecciones=tabla_pivot

In [34]:
tabla_larga["Año"] = tabla_larga["Campaña"].astype(str).str[:4].astype(int)
tabla_larga["campaña"]   = tabla_larga["Campaña"].astype(str).str[-2:].astype(int)
tabla_grouped = (
    tabla_larga
    .groupby(["Año", "campaña"], as_index=False)["Estimado"]
    .sum()
)
tabla_pivot = tabla_larga.pivot_table(
    index="campaña",        # filas
    columns="Año",    # columnas
    values="Estimado",      # valores
    aggfunc="sum",    # sumar
    fill_value=0      # reemplazar NaN con 0
)


# Quitar el nombre del índice de columnas ("Año")
tabla_pivot.columns.name = None

# Opcional: resetear índice si no quieres que "C" quede como índice
tabla_pivot = tabla_pivot.reset_index()

In [35]:
tabla_pivot

    campaña     2026     2027     2028
0         1        0  3919214  4177206
1         2        0  3594678  3824054
2         3        0  3742910  4036248
3         4        0  3431479  3632718
4         5        0  3899832  4087735
5         6        0  4318347  4553929
6         7        0  4024543  4226401
7         8        0  4222369  4436607
8         9        0  4204889  4416807
9        10        0  4139619  4348269
10       11        0  4006043  4207975
11       12        0  3781987  3972667
12       13  4105638  4229856  4443027
13       14  3421889  3729073  3917077
14       15  3772312  3859690  4054277
15       16  4580770  4790346  5031666
16       17  4816016  4973132  5223635
17       18  4509140  4789662  5030958

In [36]:
tabla_pivot.to_csv(rf"{Carpeta}\TotalLíneaRolling.csv", index=False, encoding="utf-8-sig")